<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 

<script type="text/javascript"> 
    function upload_file() {
        var formData = new FormData();
        var files = $('#file')[0].files[0];
        formData.append('file', files);

        $.ajax({ 
            url: 'send_file', 
            type: 'post', 
            data: formData, 
            dataType: "json",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            contentType: false, 
            processData: false, 
            success: function(response){ 
                alert( response.message )                
            }, 
        }); 
    }   
</script>

<div align="center"> 
    <p>Send a file with your hand cards and the ordered first five Deck Cards</p>
    <form method="post" action="" enctype="multipart/form-data" id="myform"> 
        <div > 
            <input type="file" id="file" name="file" /> 
            <input type="button" class="button" value="Upload" id="but_upload" onclick="upload_file();"> 
        </div> 
    </form> 
</div>  
